body{
    background-image: url("/images/fundo_de_tela.png");
}
.botao-scanner{
    top: 550px;
    left: 90px;
    position: absolute;
  }

.container{
    display: flex;
}

img{
width: 109px;
height: 108px;
}

.mapa img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 31px;
    top: 35px;
}

.dica img{
width: 45px;
height: 45px;  
position: absolute; 
left: 225px;
top: 35px; 
}

p{
 text-decoration: solid;
 color: 421000;
}
.texto{
    display: flex;
    justify-content: center;
    top: 200px;
    position: absolute;
}

.icon img{
    width: 144px;
    height: 100px;

}

.icon{ 
left: 97px;
top: 75px;
position: absolute;
}