body{
    background-image: url("/images/fundo_de_tela.png");
}
.botao-scanner{
    top: 550px;
    left: 90px;
    position: absolute;
  }

.container{
    display: flex;
}

img{
width: 109px;
height: 108px;
}

.mapa img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 31px;
    top: 35px;
}

.sanduiche img{
width: 45px;
height: 45px;  
position: absolute; 
left: 225px;
top: 35px; 
}

p{
 text-decoration: solid;
 color: 421000;
}

.introText{
    display: flex;
    justify-content: center;
    top: 90px;
    position: absolute;
}

.texto{
    display: flex;
    justify-content: center;
    top: 200px;
    position: absolute;
}

.plate img{
    width: 295px;
    height: 170px;

}

.plate{ 
left: 2px;
top: 200px;
position: absolute;
}